In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

In [2]:
#Storing Part 1 result in dataframe
csv_df = pd.read_csv("WeatherPy.csv")
csv_df.head()

,City,Country,Date,Lat,Longt,Temp,Humidity,Cloudiness,Wind Speed
0,Tiksi,RU,1594786875,71.69,128.87,42.53,73,0,11.41
1,Rikitea,PF,1594786875,-23.12,-134.97,72.55,86,100,9.40
2,Mar del Plata,AR,1594786875,-38.00,-57.56,39.99,74,0,3.36
3,Hermanus,ZA,1594786875,-34.42,19.23,37.00,95,0,11.30
4,Labuhan,ID,1594786598,-6.88,112.21,84.67,65,5,3.76

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key="")

In [4]:
# Store Latitude and Longtitude into  locations 
locations = csv_df[["Lat", "Longt"]].astype(float)

#Store Humidity as weights
humidity_rate=csv_df["Humidity"].astype(float)

In [5]:
# Create a humidity Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity_rate, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

## Ideal Weather Criteria

In [6]:
#Storing ideal temperature (temperature lower than 80 degrees but higher than 70,humidity less than 60, Wind speed less than 10 mph,Zero cloudiness.)
ideal_weather=csv_df[(csv_df['Temp'] >= 70) & (csv_df['Temp'] <= 80)]
ideal_weather=ideal_weather.loc[ideal_weather['Wind Speed'] < 10]
ideal_weather=ideal_weather.loc[ideal_weather["Humidity"] < 60]
ideal_weather=ideal_weather.loc[ideal_weather["Cloudiness"] == 0]
hotel_df = ideal_weather.dropna().set_index("City").reset_index()
hotel_df

,City,Country,Date,Lat,Longt,Temp,Humidity,Cloudiness,Wind Speed
0,Bestöbe,KZ,1594786885,52.50,73.10,76.60,53,0,9.82
1,Ponta do Sol,PT,1594786893,32.67,-17.10,75.99,40,0,5.59
2,Seydişehir,TR,1594786894,37.42,31.85,70.59,53,0,0.74
3,Faya,SA,1594786895,18.39,42.45,73.40,21,0,6.58
4,Assiut,EG,1594786909,27.18,31.18,75.20,50,0,4.70
5,Yeppoon,AU,1594786914,-23.13,150.73,71.60,28,0,6.93
6,Kūhdasht,IR,1594786919,33.53,47.61,78.80,26,0,2.24
7,Abnūb,EG,1594786934,27.27,31.15,75.20,50,0,4.70
8,Victoria Point,AU,1594786936,-27.58,153.30,71.01,45,0,5.01
9,Sabha,LY,1594786938,27.04,14.43,75.79,36,0,9.55

## Getting a list of hotels for each city

In [7]:
# set up additional column (i.e Hotel Name) to hold information

hotel_df['Hotel Name'] = " "

hotel_df

,City,Country,Date,Lat,Longt,Temp,Humidity,Cloudiness,Wind Speed,Hotel Name
0,Bestöbe,KZ,1594786885,52.50,73.10,76.60,53,0,9.82,
1,Ponta do Sol,PT,1594786893,32.67,-17.10,75.99,40,0,5.59,
2,Seydişehir,TR,1594786894,37.42,31.85,70.59,53,0,0.74,
3,Faya,SA,1594786895,18.39,42.45,73.40,21,0,6.58,
4,Assiut,EG,1594786909,27.18,31.18,75.20,50,0,4.70,
5,Yeppoon,AU,1594786914,-23.13,150.73,71.60,28,0,6.93,
6,Kūhdasht,IR,1594786919,33.53,47.61,78.80,26,0,2.24,
7,Abnūb,EG,1594786934,27.27,31.15,75.20,50,0,4.70,
8,Victoria Point,AU,1594786936,-27.58,153.30,71.01,45,0,5.01,
9,Sabha,LY,1594786938,27.04,14.43,75.79,36,0,9.55,

In [8]:

# set up a parameters dictionary

target_search = "Hotel"
target_radius = 5000

params = {
    "radius": target_radius,
    "keyword": target_search,
    "key": g_key
}


# use iterrows to iterate through pandas dataframe,key=k and value=v
for index,row  in hotel_df.iterrows():
    #get lat & longt from hotel_df
    long=row["Longt"]
    lat=row["Lat"]
    #change locations as it iterates
    params['location'] = f"{lat},{long}"
    
    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #make request for url, convert to json
    hotel_name=requests.get(base_url, params=params)
    hotel_name=hotel_name.json()
    
    #Using try/except to skip missing info
    try:
        print(f"Retrieving Results for {index} :")
        
        hotel_df.loc[index, 'Hotel Name'] = hotel_name['results'][0]['name']
             
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for 0 :
Missing field/result... skipping.
------------
Retrieving Results for 1 :
------------
Retrieving Results for 2 :
------------
Retrieving Results for 3 :
Missing field/result... skipping.
------------
Retrieving Results for 4 :
------------
Retrieving Results for 5 :
------------
Retrieving Results for 6 :
------------
Retrieving Results for 7 :
Missing field/result... skipping.
------------
Retrieving Results for 8 :
------------
Retrieving Results for 9 :
------------

In [9]:
#visualizing the data
hotel_df

,City,Country,Date,Lat,Longt,Temp,Humidity,Cloudiness,Wind Speed,Hotel Name
0,Bestöbe,KZ,1594786885,52.50,73.10,76.60,53,0,9.82,
1,Ponta do Sol,PT,1594786893,32.67,-17.10,75.99,40,0,5.59,Estalagem Da Ponta Do Sol
2,Seydişehir,TR,1594786894,37.42,31.85,70.59,53,0,0.74,Ünal Palas Hotel
3,Faya,SA,1594786895,18.39,42.45,73.40,21,0,6.58,
4,Assiut,EG,1594786909,27.18,31.18,75.20,50,0,4.70,Florence Hotel Assiut
5,Yeppoon,AU,1594786914,-23.13,150.73,71.60,28,0,6.93,Yeppoon Beach House
6,Kūhdasht,IR,1594786919,33.53,47.61,78.80,26,0,2.24,تالار مهرگان
7,Abnūb,EG,1594786934,27.27,31.15,75.20,50,0,4.70,
8,Victoria Point,AU,1594786936,-27.58,153.30,71.01,45,0,5.01,Seminara Apartments
9,Sabha,LY,1594786938,27.04,14.43,75.79,36,0,9.55,فندق أفريقيا

In [16]:
#Dropping cities that does not have a hotel name
hotel_list=hotel_df.loc[(hotel_df["Hotel Name"]!= " ")].set_index("City").reset_index()
hotel_list

,City,Country,Date,Lat,Longt,Temp,Humidity,Cloudiness,Wind Speed,Hotel Name
0,Ponta do Sol,PT,1594786893,32.67,-17.10,75.99,40,0,5.59,Estalagem Da Ponta Do Sol
1,Seydişehir,TR,1594786894,37.42,31.85,70.59,53,0,0.74,Ünal Palas Hotel
2,Assiut,EG,1594786909,27.18,31.18,75.20,50,0,4.70,Florence Hotel Assiut
3,Yeppoon,AU,1594786914,-23.13,150.73,71.60,28,0,6.93,Yeppoon Beach House
4,Kūhdasht,IR,1594786919,33.53,47.61,78.80,26,0,2.24,تالار مهرگان
5,Victoria Point,AU,1594786936,-27.58,153.30,71.01,45,0,5.01,Seminara Apartments
6,Sabha,LY,1594786938,27.04,14.43,75.79,36,0,9.55,فندق أفريقيا

In [23]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_list.iterrows()]
locations = hotel_list[["Lat", "Longt"]]

In [24]:
# Add marker layer ontop of heat map
fig = gmaps.figure(map_type = "TERRAIN")
markers = gmaps.marker_layer(
    locations,
    info_box_content = hotel_info
)
fig.add_layer(markers)
fig.add_layer(heat_layer)
#Displaying map
fig

Figure(layout=FigureLayout(height='420px'))

## Analysis 
Based on finalized list of cities that have ideal weather conditions looks like located at Nothern part of Africa, Turkey and Irag.